<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719047435176-i46q9vmglrvrr9ps79f5bn3rn14tmiiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719047435176-i46q9vmglrvrr9ps79f5bn3rn14tmiiu</string>
	<key>API_KEY</key>
	<string>AIzaSyAf8M8pkQ-LpE193wn3cau7d5wKloTmqzY</string>
	<key>GCM_SENDER_ID</key>
	<string>719047435176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nan.LearningApp</string>
	<key>PROJECT_ID</key>
	<string>fir-learning-app-b791a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-learning-app-b791a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719047435176:ios:2a747532e02a2d9c14b39d</string>
</dict>
</plist>